:root {
    font-family: "Rokkitt", serif;
    font-size: 16px;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --v-spacing: 1rem;
    --h-spacing: 1rem;
    --accent: blue;
    --separator: #aaa;
}

body {
    margin: 0;
}

a, a:visited {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: calc(780px - (var(--h-spacing) * 2));
    margin: 0 auto;
    padding: 0 var(--h-spacing);
}

header {
    font-weight: bold;
}

footer {
    font-size: 0.9em;
}

input[type="search"], input[type="text"], textarea {
    font-family: "Rokkitt", serif;
    font-size: 1em;

    padding: var(--h-spacing) var(--v-spacing);
    background-color: white;
    border: 2px solid var(--separator);
    border-radius: 8px;
}

input[type="search"]:focus, input[type="text"]:focus, textarea:focus {
    outline: none;
    border-color: var(--accent);
}

.table-container {
    overflow: auto hidden;
}

table tr:not(:last-child) {
    padding-bottom: var(--v-spacing);
}

table tr th:not(:last-child), table tr td:not(:last-child) {
    padding-right: var(--h-spacing);
}

.unit {
    font-family: "Kode Mono", monospace;
}

.conditions {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto hidden;
    align-items: top;
    justify-content: left;
    gap: var(--v-spacing) var(--h-spacing);
}

.conditions .hero {
    font-size: 3em;
    font-weight: bold;
    line-height: 2.3rem;
}

ol.hours {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: last baseline;
    justify-content: left;
    gap: var(--v-spacing) var(--h-spacing);
    overflow: auto hidden;
}

ol.hours li {
    min-width: 3.5rem;
    min-height: 3rem;
    text-align: center;
}

form.place-search {
    display: flex;
}

form.place-search input {
    flex-grow: 1;
    font-size: 1.25em;
}

ol.places {
    list-style: none;
    padding: 0;
}

ol.places li {
    padding: var(--h-spacing) var(--v-spacing);
}

ol.places li:not(:last-child) {
    border-bottom: 1px solid var(--separator);
}
