:root {
    font-family: "Rokkitt", serif;
    font-size: 16px;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --v-spacing: 1rem;
    --h-spacing: 1rem;
    --accent: blue;
    --separator: #aaa;
}

body {
    margin: 0;
}

a, a:visited {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 780px;
    margin: 0 auto;
}

.tiles {
    display: flex;
    align-items: last baseline;
    justify-content: left;
    gap: var(--v-spacing) var(--h-spacing);
}

.tiles.compact {
    flex-wrap: nowrap;
    overflow: auto hidden;
}

.tiles.spread {
    justify-content: space-between;
}

.hero {
    font-size: 3em;
    font-weight: bold;
}

.unit {
    font-family: "Kode Mono", monospace;
}

header {
    font-weight: bold;
}

ol.forecast {
    list-style: none;
    padding: 0;
}

ol.forecast li:not(:last-child) {
    margin-bottom: var(--v-spacing);
}

form.place-search {
    display: flex;
}

form.place-search input {
    flex-grow: 1;
    font-family: "Rokkitt", serif;
    font-size: 1.25rem;
    padding: var(--h-spacing) var(--v-spacing);
    background-color: white;
    border: 2px solid var(--separator);
    border-radius: 8px;
}

form.place-search input:focus {
    outline: none;
    border-color: var(--accent);
}

ol.places {
    list-style: none;
    padding: 0;
}

ol.places li {
    padding: var(--h-spacing) var(--v-spacing);
}

ol.places li:not(:last-child) {
    border-bottom: 1px solid var(--separator);
}
