:root {
    font-family: "Rokkitt", serif;
    font-size: 16px;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --v-spacing: 1rem;
    --h-spacing: 1rem;
    --accent: blue;
    --separator: #aaa;
}

body {
    margin: 0;
}

a, a:visited {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: calc(780px - (var(--h-spacing) * 2));
    margin: 0 auto;
    padding: 0 var(--h-spacing);
}

header {
    font-weight: bold;
}

footer {
    font-size: 0.9em;
}

input[type="search"], input[type="text"], textarea {
    font-family: "Rokkitt", serif;
    font-size: 1em;

    padding: var(--h-spacing) var(--v-spacing);
    background-color: white;
    border: 2px solid var(--separator);
    border-radius: 8px;
}

input[type="search"]:focus, input[type="text"]:focus, textarea:focus {
    outline: none;
    border-color: var(--accent);
}

.table-container {
    overflow: auto hidden;
}

table tr:not(:last-child) {
    padding-bottom: var(--v-spacing);
}

table tr th:not(:last-child), table tr td:not(:last-child) {
    padding-right: var(--h-spacing);
}

.unit {
    font-family: "Kode Mono", monospace;
}

.day-clear {
    background-color: hsl(210, 44%, 50%);
    color: #fff;
}

.night-clear {
    background-color: hsl(210, 44%, 25%);
    color: #fff;
}

.day-overcast {
    background-color: hsl(208, 27%, 50%);
    color: #fff;
}

.night-overcast {
    background-color: hsl(208, 27%, 25%);
    color: #fff;
}

.day-precipitating {
    background-color: hsl(204, 15%, 50%);
    color: #fff;
}

.night-precipitating {
    background-color: hsl(204, 15%, 25%);
    color: #fff;
}

.day-extreme {
    background-color: hsl(204, 15%, 40%);
    color: #fff;
}

.night-extreme {
    background-color: hsl(204, 15%, 20%);
    color: #fff;
}

.day-unhealthy {
    background-color: hsl(201, 44%, 50%);
    color: #fff;
}

.night-unhealthy {
    background-color: hsl(201, 44%, 25%);
    color: #fff;
}

.current-forecast ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto hidden;
    align-items: top;
    justify-content: left;
    gap: var(--v-spacing) var(--h-spacing);
}

.current-forecast ul .hero {
    font-size: 3em;
    font-weight: bold;
    line-height: 2.3rem;
}

.hourly-forecast ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: last baseline;
    justify-content: left;
    gap: var(--v-spacing) var(--h-spacing);
    overflow: auto hidden;
}

.hourly-forecast ol li {
    min-width: 3.5rem;
    min-height: 3rem;
    text-align: center;
}

.hourly-forecast ol li .conditions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 3em;
}

.place-search form {
    display: flex;
}

.place-search form input {
    flex-grow: 1;
    font-size: 1.25em;
}

.place-search ol {
    list-style: none;
    padding: 0;
}

.place-search ol li {
    padding: var(--h-spacing) var(--v-spacing);
}

.place-search ol li:not(:last-child) {
    border-bottom: 1px solid var(--separator);
}
